
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>Burası kendi oluşturduğumuz view sayfasıdır</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Murat</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Şevval</td>
        <td>Öğrenci</td>
    </tr>
</table>